@import 'bootstrap';

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #6dd5ed, #2193b0);
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}

.container {
  flex-grow: 1;
}

.general-container {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 60px;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  position: relative;

  &.signup-form {
    max-width: 500px;
  }

  .form-row {
    margin: 15px 0 20px;
  }
}

table {
  td.body, th.body {
    width: 80%;
    text-align: left;
  }

  td, th {
    white-space: nowrap;
    text-align: center;

    &[colspan="2"] {
      text-align: center;
    }
  }
}

.section-title {
  font-size: 25px;
  text-align: center;
  color: #383838;

  &--new {
    font-size: 30px;
    padding-top: 80px;
    margin-bottom: 20px;
  }
}

.btn-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  a, input[type="submit"] {
    display: block;
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

